.head1{
     color: rgb(36, 35, 30);
     text-shadow: #ecb874;
     text-decoration-line: underline overline ;
     text-align: center;
}

.box {
    /* padding: 10px; */
    height: 580px;
    width: 500px;
    margin: auto;
    background-color: #585859;
    box-shadow: rgba(202, 180, 180, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}
.screen {
    font-family:'Lucida Sans' Verdana;
    background-color: #f7e0a1;
    border: solid black 0.5px;
    color: black;
    border-radius: 2px;
    width: 100%;
    height: 65%;
}
#button {
    background-color: #fbfbfd;
}
input[type=button] {
    font-family: 'Lucida Sans', Verdana;
    background-color: #e4bc5d;
    color: rgb(13, 9, 9);
    border: solid black 0.5px;
    width: 100%;
    border-radius: 5px;
    height: 100%;
    outline: none;
}
input:active[type=button] {
    background: #e5e5e5;
  }